div#item_type{

}

div > h2 {
  color: black;
}

#menu_item{
  border: 2px solid black;
  border-radius: 10px;

  width: 28%;
  height: 120px;



  float: left;
  display: none;
  color: #da4e41;
  background-color: #da4e41;

  text-align: center;
}

#menu_item:hover{
  color: black;
  background-color: white;
}
